<!DOCTYPE html>
<html>
<head>
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width">#}
{##}
{#    <title>Buy custom made furniture online - wardrobes, sofas, kitchen, entertainment units, beds and more</title>#}
{#    <link rel="icon" href="../images/small-logo.fw.png"/>#}
{#    <link rel="stylesheet" href="../static/css/foundation.min.css">#}
{#    <link rel="stylesheet" href="../css/mainsite.css">#}
{#    <!--<link rel="stylesheet" href="css/owl.theme.css">-->#}
</head>
<body>
<div class="row">
    <div class="small-12 medium-10 large-10 large large-centered columns  footer-logo-padding">
        <ul class="small-block-grid-1 medium-block-grid-5 large-block-grid-5 " id="footerLogos">
            <li>
                <a href="#"><P class="footer-main-tag">KUSTOMMADE</P></a>
                <a href="#"><P class="footer-sub-tag">Free Home Delivery</P></a>
                <a href="#"><p class="footer-sub-tag">About Us</p></a>
                <a href="#"><p class="footer-sub-tag">Terms & Conditions</p></a>
                <a href="#"><p class="footer-sub-tag">Privacy Policy</p></a>
                <a href="#"><p class="footer-sub-tag">Delivery & Return policy</p></a>

            </li>
            <li>
                <a href="#"><P class="footer-main-tag">COLLECTION</P></a>
                <a href="#"><P class="footer-sub-tag">Sofas</P></a>
                <a href="#"><p class="footer-sub-tag">Wardrobes</p></a>
                <a href="#"><p class="footer-sub-tag">Kitchens</p></a>
                <a href="#"><p class="footer-sub-tag">Dining</p></a>
                <a href="#"><p class="footer-sub-tag">Accessories</p></a>

            </li>
            <li>
                <a href="#"><P class="footer-main-tag">HELP</P></a>
                <a href="#"><P class="footer-sub-tag">How TO Use</P></a>
                <a href="#"><p class="footer-sub-tag">Payment Process</p></a>
                <a href="#"><p class="footer-sub-tag">Shopping</p></a>
                <a href="#"><p class="footer-sub-tag">Pricing</p></a>

            </li>
            <li >
                <a href="#"><P class="footer-main-tag">FOLLOW US</P></a>
                <a href="#"><P class="footer-sub-tag">Twitter</P></a>
                <a href="#"><p class="footer-sub-tag">Facebook</p></a>
                <a href="#"><p class="footer-sub-tag">Pintrest</p></a>
                <a href="#"><p class="footer-sub-tag">Google</p></a>
            </li>
            <li>
                <a href="#"><P class="footer-main-tag">GET IN TOUCH WITH</P></a>
                <a href="#"><P class="footer-sub-tag">Contact Us</P></a>
                <ul id="contactImagesAlignment" >
                    <li class="footer-contact-images"><a class="sprite-contacticonfw sprite-images footer-contact-information">040-606060454</a></li>
                    <li class="footer-email"><a class="sprite-email-iconfw  sprite-images footer-email">Wecare@kustomMade.com</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row" id="footerSignUpScreen">
    <div class="text-on-signup-screen">
        <p class="news-letter-text">NEWS LETTER</p>
        <p id="signUpText">Sign up our newsletter to recieve latest product updates and promotions.We hate spam emails as much as you and we will only sent product related stuff.!</p>
    </div>
    <div class="small-10 large-centered columns">
        <ul id="signupAlignment">
            <li ><input type="text" placeholder="Your email address" id="signupBoxAlignment"></li>
            <li> <button type="button" class="signup">Signup</button></li>
        </ul>
    </div>
</div>

<!-----------------------------------------foootercompleted----------------------->
<div class="row" id="last-tag-line">
    <p id="rightsReservedLine">@2013,KustomMade.com All rights reserved.</p>
</div>

{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#<script src="../js/foundation.min.js"></script>#}
</body>
</html>