<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Buy custom made furniture online - wardrobes, sofas, kitchen, entertainment units, beds and more</title>
    <link rel="icon" href="{{ STATIC_URL }}images/small-logo.fw.png"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mainsite.css">
    <!--<link rel="stylesheet" href="css/owl.theme.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.css">
</head>
<body>
{#<div class="show-for-small-only">#}
{#    <ul>#}
{#            <li>#}
{#                <img src="{{ STATIC_URL }}images/logo.png" id="logoSmallScreen">#}
{#            </li>#}
{#            <li >#}
{#                <a class="sprite-threelinesfw sprite-images" id="DropDownIcon"></a>#}
{#            </li>#}
{#    </ul>#}
{##}
{#<div class="small-screen-dropdown">#}
{#    <ul class="right">#}
{#                <li><a href="#">WARDROBES</a></li>#}
{#                <li><a href="#">SOFAS</a></li>#}
{#                <li><a href="#">KITCHENS</a></li>#}
{#                <li><a href="#">DINING SETS</a></li>#}
{#                <li><a href="#">BEDS</a></li>#}
{#                <li><a href="#">HOME DECOR</a></li>#}
{#                <li><a href="#">TABLES</a></li>#}
{#                <li><a href="#">ACCESSORIES</a></li>#}
{#                <li><a href="#">FURNITURE</a></li>#}
{#                <li><a href="#">ABOUT US</a></li>#}
{#    </ul>#}
{#</div>#}
{#</div>#}
<div class="show-for-small">
    <ul>
        <li>
            <img src="{{ STATIC_URL }}images/logo.png" id="logoSmallScreen">
        </li>
        <li >
            <a class="sprite-threelinesfw sprite-images" id="DropDownIcon"></a>
        </li>
    </ul>

    <div class="small-screen-dropdown">
        <ul class="dropdown-alignment">
            <li><a href="#">WARDROBES</a></li>
            <li><a href="#">SOFAS</a></li>
            <li><a href="#">KITCHENS</a></li>
            <li><a href="#">DINING SETS</a></li>
            <li><a href="#">BEDS</a></li>
            <li><a href="#">HOME DECOR</a></li>
            <li><a href="#">TABLES</a></li>
            <li><a href="#">ACCESSORIES</a></li>
            <li><a href="#">FURNITURE</a></li>
            <li><a href="#">ABOUT US</a></li>
        </ul>
    </div>
</div>
<div class="show-for-medium-up">
    <div class="row" id="headerColour">
        <div class="push-1 small-8 medium-8 large-8 columns">
            <ul id="listAlignment" >
                <li id="contactImage"><a class="sprite-contacticonfw sprite-images"></a></li>
                <li class="contact-information">040-606060454</li>
                <li id="emailImage"><a class="sprite-email-iconfw sprite-images"></a></li>
                <li ><p class="email">Wecare@kustomMade.com</p></li>
            </ul>
        </div>
        <div class="pull-1 small-4 medium-4 large-4 columns" id="rightLogos">
            <ul>
                <li id="rightLogoPadding"><a href="#" class="help-button">Help</a></li>
                <li ><a href="#" class="create-account-button">Create Account</a></li>
            </ul>
        </div>
    </div>
    <!---------------------------------topbar completed--------------------->

    <div class="row" class="logo-padding">
        <div class="push-4 small-4 medium-4 large-4 columns">
            <div class="small-grid-block-1" id="logo"><a href="landingPage"><img src="{{ STATIC_URL }}images/logo.png"></a></div>
        </div>
        <div class="small-4 medium-4 large-4 columns">
            <ul class="right-logo-alignment ">
                <li >
                    <a class="sprite-likefw sprite-images" href="#"></a>
                </li>
                <li class="right-logo-padding">
                    <a class="sprite-people1fw sprite-images" href="#"></a>
                </li>
                <li class="right-logo-padding">
                    <a class="sprite-store1fw sprite-images" href="#"></a>
                    <a class="counter-logo-alignment sprite-counterfw sprite-images" href="#" ><span id="counter">0</span></a>
                </li>
            </ul>

        </div>

    </div>

    <div class="row">
        <div class="small-4 medium-4 large-4 large-centered columns">
            <div class="small-grid-block-1"><p  id="logoTagLine">MAKING YOUR FURNITURE IDEAS COMES TO LIFE</p></div>
        </div>


    </div>
    <!-------------------------logo section completed---------------------------------->
    <div class="header">
        <a href="landingPage" class="sprite-small-logofw sprite-images" id="small-logo"></a>
        <!--<img id="small-logo" src="images/small-screen-logo.png"/>-->
        <div class="row" id="navBarColour" >
            <div class="push-1 small-10 medium-10 large-10 columns">
                <ul id="nav">
                    <li><a href="wardrobe" class="nav-alignment" id="nav-start">WARDROBES</a></li>
                    <li><a href="sofa" class="nav-alignment">SOFAS</a></li>
                    <li><a href="kitchen" class="nav-alignment">KITCHENS</a></li>
                    <li><a href="#" class="nav-alignment">DINING</a></li>
                    <li><a href="#" class="nav-alignment">BEDS</a></li>
                    <li><a href="#" class="nav-alignment">HOME DECORE</a></li>
                    <li><a href="#" class="nav-alignment">TABLES</a></li>
                    <li><a href="#" class="nav-alignment">FURNITURE</a></li>
                    <li><a href="#" class="nav-alignment">ACCESSORIES</a></li>
                    <li><a href="#" class="nav-alignment" id="nav-end">MY DESIGNS</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!------------topbar completedeted------------------------>
<div id="content">
{% block content %}
    <div class="row" id="transparentScreenAlignment">
        <!--<div class="small-12 medium-10 large-10 small-centered large-centered columns">-->
        <div class=" one-image-for-silder owl-carousel" >
            <div class="item"  >
                <img src='{{ STATIC_URL }}images/wardrobe-banner1.jpg' style="min-height: 400px">
            </div>
            <div class="item" >
                <img src='{{ STATIC_URL }}images/kitchen-banner1.jpg' style="min-height: 400px">
            </div>
            <div class="item" >
                <img src='{{ STATIC_URL }}images/sofa-banner1.jpg' style="min-height: 400px">
            </div>

        </div>
        {#    <div class="small-screen-size">#}
        {#        <p class="the-online-text-on-transparent-screen">THE ONLINE</p>#}
        {#        <p class="custom-made-text-on-transparent-screen">CUSTOM MADE</p>#}
        {#        <p class="furniture-store-text-on-transparent-screen">FURNITURE STORE</p>#}
        <div class="orbit-options">
            <div class="orbit-option">
                <a href="#" class="button Proceed button-medium hide-for-small">Design from Scratch &amp; Buy</a>
            </div>
            <div class="orbit-option review-text">
                <span class="hide-for-small" style="font-size:18px;font-weight: 600">or</span>
            </div>
            <div class="orbit-option"><a href="#" class="button Proceed button-medium black start-from-popular">Start from Popular Designs</a></div>

        </div>
        <!--<button type="button" id="showNowButton">SHOP NOW</button>-->
        {#    </div>#}
        <!--</div>-->
    </div>
    <!-------------------------main image completed------------------------------------->
    <div class="row">
        <!--<div class="small-12 medium-10 large-10 large-centered columns">-->
        <p class="build-your-text">BUILD YOUR EXCLUSIVE DESIGN</p>

        <p class="designStudioTextAlignment">Use our <span id="boldText">'DESIGN STUDIO'</span> to design your own
            furniture</p>
        <!--</div>-->
    </div>
    <!---------------------------tags completed------------------------------------------>
    <div class="row">
        <!--<div class=" small-12 medium-10 large-10 large-centered columns">-->
        <div class="black-bar ">
            <div class="text-on-black-bar"><p>"Lorem ipsum dolor sit met,sint discunt at. Vocent antiopam intellegebat
                in eos, no per diam reformidans. Duis</p>

                <p> mnesarchum duo ne. In sint conceptam vis, singulis percipitur comprehensam no vis, timeam." </p>
            </div>
            <p>
                <button type="button" id="designNowButton">DESIGN NOW</button>
            </p>
        </div>
        <!--</div>-->
    </div>
    <!-----------------black bar completed------------------------------------------------->
    <div class="small-12 medium-10 large-10 large-centered columns view-more-alignment">
        <p class="view-more-text">VIEW MORE</p>
    </div>


    <!------------smooth scroll completed------------------------------------------------->
    <div class="row">
        <div class="push-1 small-12 medium-5 large-5 columns">
            <img class="objects" src='{{ STATIC_URL }}images/sofa.jpg'>
        </div>
        <div class="pull-1 small-12 medium-5 large-5 columns" id="textAlignmentRight">
            <div class="item-region"><p>SOFA</p></div>
            <p class="text-of-items">“ Lorem ipsum dolor sit amet, sint dicunt mel at. Vocent antiopam intellegebat in eos, no per diam reformidans. Duis mnesarchum duo ne.”</p>

            <p class="item-price">Starts @ 25,000/-</p>
            <button type="button" class="items-shop-now-button">SHOP NOW</button>
            <button type="button" class="items-customize-button">CUSTOMIZE</button>
        </div>
    </div>

    <div class="small-12 medium-10 large-10 large large-centered columns slider-padding" >
        <div class=" four-images-for-silder owl-demo owl-carousel owl-theme">
            <div class="item">
                <img src='{{ STATIC_URL }}images/sofa1.png'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/sofa2.png'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/sofa3.png'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/sofa4.png'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/sofa1.png'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/sofa2.png'>
            </div>

        </div>
    </div>

    <!---------------------------sofa section completed-------------------------->

    <div class="small-12 medium-10 large-10 large-centered columns view-more-alignment">
        <p class="view-more-text">VIEW MORE</p>
    </div>
    <!--------------------smooth-scroll completed----------------------------------->
    <div class="row">
        <div class="push-1 small-12 medium-5 large-5 columns">
            <div class="item-region"><p class="item-text-alignment">WARDROBE</p></div>
            <p class="text-of-items">“ Lorem ipsum dolor sit amet, sint dicunt mel at. Vocent antiopam intellegebat in eos, no per diam reformidans. Duis mnesarchum duo ne.”</p>
            <p class="item-price">Starts @ 25,000/-</p>
            <button type="button" class="items-shop-now-button">SHOP NOW</button>
            <button type="button" class="items-customize-button">BUILD YOURS</button>
        </div>
        <div class="pull-1 small-12 medium-5 large-5 columns">
            <img class="objects" src='{{ STATIC_URL }}images/wardrobe.jpg'>
        </div>
    </div>
    <div class="small-12 medium-10 large-10 large large-centered columns slider-padding" >
        <div class=" four-images-for-silder owl-demo owl-carousel owl-theme" >
            <div class="item" >
                <img src='{{ STATIC_URL }}images/wardrobe1.jpg'>
            </div>
            <div class="item" >
                <img src='{{ STATIC_URL }}images/wardrobe2.jpg'>
            </div>
            <div class="item" >
                <img src='{{ STATIC_URL }}images/wardrobe3.jpg'>
            </div>
            <div class="item" >
                <img src='{{ STATIC_URL }}images/wardrobe4.jpg'>
            </div>
            <div class="item" >
                <img src='{{ STATIC_URL }}images/wardrobe1.jpg'>
            </div>
            <div class="item" >
                <img src='{{ STATIC_URL }}images/wardrobe2.jpg'>
            </div>

        </div>
    </div>
    <!-----------------wardrobes completed----------------------------------->
    <div class="small-12 medium-10 large-10 large-centered columns view-more-alignment">
        <p class="view-more-text">VIEW MORE</p>
    </div>
    <!----------------smooth-scroll completed-------------------------------->
    <div class="row">
        <div class="push-1 small-12 medium-5 large-5 columns">
            <img class="objects" src='{{ STATIC_URL }}images/kitchen.jpg'>
        </div>
        <div class="pull-1 small-12 medium-5 large-5 columns">
            <div class="item-region"><p class="item-text-alignment">KITCHEN</p></div>
            <div class="kitchen"></div>
            <p class="text-of-items">“ Lorem ipsum dolor sit amet, sint dicunt mel at. Vocent antiopam intellegebat in eos, no per diam reformidans. Duis mnesarchum duo ne.”</p>

            <p class="item-price">Starts @ 25,000/-</p>
            <button type="button" class="get-estimation-button">GET ESTIMATION</button>
        </div>
    </div>

    <div class="small-12 medium-10 large-10 large large-centered columns slider-padding" >
        <div class="four-images-for-silder owl-carousel">
            <div class="item">
                <img src='{{ STATIC_URL }}images/kitchen1.jpg'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/kitchen2.jpg'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/kitchen3.jpg'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/kitchen4.jpg'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/kitchen1.jpg'>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/kitchen2.jpg'>
            </div>

        </div>
    </div>
    <!--------------------------kitchen completed-------------------------------->
    <div class="small-12 medium-10 large-10 large-centered columns view-more-alignment">
        <p class="view-more-text">VIEW MORE</p>
    </div>


    <!------------------smooth scroll completed------------------------------>
    <div class="small-12 medium-8 large-8 large-centered columns" >
        <p class="footertag">HOW KUSTOMMADE WORKS</p></div>
    <div class="small-12 medium-8 large-8 large-centered columns">
        <p class="footerlogoTagLineText">“ Lorem ipsum dolor sit amet, sint dicunt mel at. Vocent antiopam intellegebat in eos, no per diam reformidans.
            Duis mnesarchum duo ne. In sint conceptam vis, singulis percipitur comprehensam no vis, timeam .”</p>
    </div>


    <div class="row">
        <div class="small-12 medium-10 large-10 large-centered columns">
            <ul class="small-block-grid-1 medium-block-grid-4 large-block-grid-4" id="gridUnderline">
                <li><img src='{{ STATIC_URL }}images/footerimage1.png'></li>
                <li><img src='{{ STATIC_URL }}images/footerimage2.png'></li>
                <li><img src='{{ STATIC_URL }}images/footerimage3.png'></li>
                <li><img src='{{ STATIC_URL }}images/footerimage4.png'></li>

            </ul>
        </div>
    </div>
    <!-------------------------------footertags completed------------------------>
    <div class="small-12 medium-8 large-8 large-centered columns" >
        <p class="footertag">TESTIMONIALS</p></div>
    <div class="small-12 medium-8 large-8 large-centered columns">
        <p class="footerlogoTagLineText">“ Lorem ipsum dolor sit amet, sint dicunt mel at. Vocent antiopam intellegebat in eos, no per diam reformidans.
            Duis mnesarchum duo ne. In sint conceptam vis, singulis percipitur comprehensam no vis, timeam .”</p>
    </div>
    <!------------------SLIDER----------------------->
    <div class="small-12 medium-10 large-10 large large-centered columns">
        <div class="three-images-for-silder owl-demo owl-carousel owl-theme">

            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview1.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/vishnu.png' alt="vishnu" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Vishnu</span><br> Student, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk ”</p>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview2.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/kishore.png' alt="kishore" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Kishore</span><br> Student, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk”</p>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview3.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/hari.png' alt="hari" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Hari</span><br> SE, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk”</p>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview4.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/rohit.png' alt="vishnu" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Rohit</span><br>SE, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk”</p>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview1.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/Khali.jpg' alt="khali" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Khali</span><br> Student, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk”</p>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview2.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/dinesh.jpg' alt="dinesh" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Dinesh</span><br> Student, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk”</p>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview3.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/alekhya.png' alt="Alekhya" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Alekhya</span><br> Student, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk”</p>
            </div>
            <div class="item">
                <img src='{{ STATIC_URL }}images/customerreview4.fw.jpg' alt="customerreview" class="review-images">
                <img src='{{ STATIC_URL }}images/laxmi.png' alt="laxmi" class="user-images">
                <p class="user-name text-left"><span class="user-name-style">Laxmi</span><br> Student, Hyderabad</p>
                <p class="user-comment">“ Loren ipsum deno ghty skon jlmsfo kfgj kfo fji fkj ero fglk”</p>
            </div>

        </div>
    </div>
{% endblock %}
</div>
<!-------------------------------sliderend------------------>
<div class="row">
    <div class="small-12 medium-10 large-10 large large-centered columns  footer-logo-padding">
        <ul class="small-block-grid-1 medium-block-grid-5 large-block-grid-5 " id="footerLogos">
            <li>
                <a href="#"><P class="footer-main-tag">KUSTOMMADE</P></a>
                <a href="#"><P class="footer-sub-tag">Free Home Delivery</P></a>
                <a href="#"><p class="footer-sub-tag">About Us</p></a>
                <a href="#"><p class="footer-sub-tag">Terms & Conditions</p></a>
                <a href="#"><p class="footer-sub-tag">Privacy Policy</p></a>
                <a href="#"><p class="footer-sub-tag">Delivery & Return policy</p></a>

            </li>
            <li>
                <a href="#"><P class="footer-main-tag">COLLECTION</P></a>
                <a href="#"><P class="footer-sub-tag">Sofas</P></a>
                <a href="#"><p class="footer-sub-tag">Wardrobes</p></a>
                <a href="#"><p class="footer-sub-tag">Kitchens</p></a>
                <a href="#"><p class="footer-sub-tag">Dining</p></a>
                <a href="#"><p class="footer-sub-tag">Accessories</p></a>

            </li>
            <li>
                <a href="#"><P class="footer-main-tag">HELP</P></a>
                <a href="#"><P class="footer-sub-tag">How TO Use</P></a>
                <a href="#"><p class="footer-sub-tag">Payment Process</p></a>
                <a href="#"><p class="footer-sub-tag">Shopping</p></a>
                <a href="#"><p class="footer-sub-tag">Pricing</p></a>

            </li>
            <li >
                <a href="#"><P class="footer-main-tag">FOLLOW US</P></a>
                <a href="#"><P class="footer-sub-tag">Twitter</P></a>
                <a href="#"><p class="footer-sub-tag">Facebook</p></a>
                <a href="#"><p class="footer-sub-tag">Pintrest</p></a>
                <a href="#"><p class="footer-sub-tag">Google</p></a>
            </li>
            <li>
                <a href="#"><P class="footer-main-tag">GET IN TOUCH WITH</P></a>
                <a href="#"><P class="footer-sub-tag">Contact Us</P></a>
                <ul id="contactImagesAlignment" >
                    <li class="footer-contact-images"><a class="sprite-contacticonfw sprite-images footer-contact-information">040-606060454</a></li>
                    <li class="footer-email"><a class="sprite-email-iconfw  sprite-images footer-email">Wecare@kustomMade.com</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row" id="footerSignUpScreen">
    <div class="text-on-signup-screen">
        <p class="news-letter-text">NEWS LETTER</p>
        <p id="signUpText">Sign up our newsletter to recieve latest product updates and promotions.We hate spam emails as much as you and we will only sent product related stuff.!</p>
    </div>
    <div class="small-10 large-centered columns">
        <ul id="signupAlignment">
            <li ><input type="text" placeholder="Your email address" id="signupBoxAlignment"></li>
            <li> <button type="button" class="signup">Signup</button></li>
        </ul>
    </div>
</div>

<!-----------------------------------------foootercompleted----------------------->
<div class="row" id="last-tag-line">
    <p id="rightsReservedLine">@2013,KustomMade.com All rights reserved.</p>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/foundation.min.js"></script>
<script src="{{ STATIC_URL }}owl.carousel.2.0.0-beta.2.4/owl.carousel.min.js"></script>
<script src="{{ STATIC_URL }}js/slider1.js"></script>
<script src="{{ STATIC_URL }}js/stickky-bar.js"></script>
</body>
</html>